$title-font: 'Passion One', -apple-system, sans-serif;
$body-font: -apple-system, sans-serif;

$body-font-size: 0.875rem;

$bold-font: 700;

$width-section: min(calc(100vw / 2), 720px);

$primary-color: #0476ce;
$primary-color--variant: #d4e1ec;
$shadow-color: light-dark(rgba(0, 0, 0, 0.06), rgba(158, 158, 158, 0.06));
$background-color: light-dark(#fff, #121212);
$surface-color: light-dark(#FBFAFD, #1e1e1e);
$border-color: light-dark(rgba(0, 0, 0, 0.05), rgba(158, 158, 158, 0.05));

$high-emphasis-color: light-dark(#1C1C1C, #e0e0e0);
$medium-emphasis-color: light-dark(#37352f, #a0a0a0);
$disabled-color: light-dark(#9E9E9E, #6c6c6c);
