@use "variables" as *;

@use "text" as *;
@forward "hero";

:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: $background-color;
    background-color: $high-emphasis-color;
}

[data-mode="simplified"] ::selection {
    background-color: $background-color;
    color: $high-emphasis-color;
}

@media (max-width: 576px) {
    ::selection {
        background-color: $background-color;
        color: $high-emphasis-color;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background: $surface-color;
}

footer {
    text-align: center;
    font-size: 80%;
}

canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

section { 
    margin: 12px;
    margin-top: 0; 
    box-shadow: 0px 4px 16px $shadow-color;
}

section .content {
    position: relative;
}

.effects {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.effects__mark {
    color: $primary-color !important
}

@keyframes blink-caret {
    from, to { color: transparent }
    50% { color: inherit; }
}

.emoji {
    position: relative;
    display: inline-block;
}

.emoji__waving_hands {
    user-select: none;
    animation-delay: 1s;
    transform-origin: 75% 75%;
    animation-name: waving_hands;
    animation-duration: .75s;
    will-change: transform;
}

@keyframes waving_hands {
    0% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(25deg);
    }
    65% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}

text {
    font-size: 36px !important;
    user-select: none;
    transform-origin: 250px 250px;
    transition: transform 1s; 

    transform: rotate(calc(var(--scroll) * 180deg));
}

svg {
    max-width: 80vmin;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.background {
    &.background--1 {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 40rem;
        z-index: 0;
    }

    &.background--2 {
        position: fixed;
        top: -20%;
        left: -10%;
        width: 35rem;
        height: 35rem;
        z-index: -1;
    }

    .background__primary {
        background: radial-gradient(circle at center, $primary-color, $primary-color--variant);
    }

    .background__orb {
        width: 100%;
        height: 100%;
        border-radius: 50% 22% 40% 80%;  
        filter: blur(75px);
        backdrop-filter: blur(1px);
        
        opacity: .5;
        animation: mesh_orb 10s infinite;
    }
}

@keyframes mesh_orb {
    0% {
        transform: translate(0, 0);
        opacity: .5;
    }
    25% {
        transform: translate(70px, -100px)
    }
    50% {
        transform: translate(20px, 150px);
        opacity: .6;
    }
    75% {
        transform: translate(20px, 150px)
    }
    100% {
        transform: translate(0, 0);
        opacity: .5;
    }
}

@mixin simplified {
    .hero {
        color-scheme: light dark;
        display: flex;
        justify-content: center;
        border-radius: 0;

        .experience, .social {
            display: none;
        }
    }

    #projects {
        display: none;
    }

    .background {
        &.background--1 {
            display: none;
        }
    
        &.background--2 {
            position: absolute;
            z-index: 1;
        }
    }

    section {
        padding: 0 !important;
        margin: 0 !important;
        height: auto !important; 
        width: auto !important;
        box-shadow: none !important;
        background: $surface-color !important;
    }
    
    section .content {
        max-width: 42em;
        padding: 1.5em !important;

        min-width: auto !important;
        width: auto !important;
    }
    
    #screen {
        overflow: visible;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        background: $surface-color !important;

        & > div {
            max-width: 42em;
            padding: 1.5em !important;
            z-index: 1000;
        }

        a#card_anchor {
            border: 1px solid $border-color !important;
            background: $background-color !important;
            padding: 1.5em !important;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $title-font !important;
            font-weight: $bold-font !important;
            color: $high-emphasis-color !important;
            line-height: 1.25 !important;
        }

        span, p, a, li, textarea, button, select, label, b, input, text, ol {
            color: $medium-emphasis-color !important;
            font-family: $body-font !important;
            line-height: 1.5 !important;
            font-size: $body-font-size !important;
        }

        a {
            color: $primary-color !important;
        }
    }
}

[data-mode="simplified"] {
    @include simplified
}

@media (max-width: 768px) {
    @include simplified
}

@include text