* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width-section: min(calc(100vw / 2), 720px);
    --shadow-color: rgba(0, 0, 0, 0.06);

    --high-emphasis-color: #1C1C1C;
    --medium-emphasis-color: #37352f;
    --disabled-color: #9E9E9E;

    --high-emphasis-color__dark: #e0e0e0;
    --medium-emphasis-color__dark: #a0a0a0;

    --title-font: 'Passion One', -apple-system, sans-serif;
    --body-font: -apple-system, sans-serif;

    --primary-color: #0476ce;
    --primary-color--variant: #d4e1ec;
}

@font-face {
    font-family: 'Passion One';
    src: local('Passion One'),
        local('PassionOne'),
        url('/PassionOne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

::selection {
    color: var(--high-emphasis-color__dark);
    background-color: var(--high-emphasis-color);
}

[data-mode="simplified"] ::selection {
    background-color: var(--high-emphasis-color__dark);
    color: var(--high-emphasis-color);
}

@media (max-width: 576px) {
    ::selection {
        background-color: var(--high-emphasis-color__dark);
        color: var(--high-emphasis-color);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--high-emphasis-color);
}

span, p, a, li, textarea, button, select, label, b, input, text {
    color: var(--medium-emphasis-color);
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background: #000;
    --scroll: 0
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

section { 
    margin: 12px;
    margin-top: 0; 
    box-shadow: 0px 4px 16px var(--shadow-color);
}

section.section__first {
    margin-top: 12px;
}

section .content {
    position: relative;
}

.hero {
    --size-margin: 172px;

    padding: 24px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    height: calc(100dvh - 24px); /* remove margins */

    background: white;
    overflow: hidden;

    .content {
        min-width: var(--width-section);
        width: var(--width-section);
        height: calc(100% - var(--size-margin)); /* remove bottom part */
        padding: 0 120px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 4.5rem;
            margin-bottom: 1em;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1em;
            line-height: 1.65em;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .social {
        z-index: 1000;
        position: absolute;
        bottom: 12px;
        padding: 24px;
        right: 12px;

        span {
            display: inline-block;
            width: 32px;
            height: 32px;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        path {
            fill: #000;
            transition: .5s ease-in;
        }

        svg:hover {
            filter: drop-shadow(0px 4px 16px var(--shadow-color));
        }

        svg:hover path {
            fill: var(--primary-color);
            transition: .2s;
        }
    }

    .experience {
        background-image: linear-gradient(-30deg, var(--primary-color--variant), #bcd7ee);

        box-shadow: 0px 4px 16px var(--shadow-color);

        border-radius: 12px;
        position: relative;
        width: calc(100vw - var(--width-section) - 24px);
        height: calc(100% - var(--size-margin) / 2);
        position: relative;

        canvas {
            position: fixed;
            top: 0;
            left: calc(var(--width-section) / 2); /* efeito de posicionamento scroll-linked */
            width: 100%;
            height: 100%;
            transition-property: transform;
            will-change: transform;
        }

        .scroll {
            --extra: 16px;
            position: absolute;
            bottom: calc(var(--extra) * -1 - var(--size-margin) / 2);
            left: calc(var(--extra) * -1 - var(--size-margin) / 2);
            background: white;
            height: var(--size-margin);
            width: var(--size-margin);
            border-radius: 0 16px 0 0;
            cursor: pointer;

            &::after {
                content: '';
                height: 16px;
                width: 16px;
                position: absolute;
                bottom: calc(var(--extra) + var(--size-margin) / 2);
                right: -16px;
                border-radius: 0 0 0 16px;
                box-shadow: -12px 12px 0 12px white;
            }
        
            &::before {
                content: '';
                height: 16px;
                width: 16px;
                position: absolute;
                top: -16px;
                left: calc(var(--extra) + var(--size-margin) / 2);
                border-radius: 0 0 0 16px;
                box-shadow: -12px 12px 0 12px white;
            }

            .hover-area {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;

                &:hover + svg text {
                    transform: rotate(180deg);
                    transition: transform 5s; 
                }
            }
        }
    }
}

.effects {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.effects__mark {
    color: var(--primary-color) !important
}

@keyframes blink-caret {
    from, to { color: transparent }
    50% { color: inherit; }
  }

.emoji {
    position: relative;
    display: inline-block;
}

.emoji__waving_hands {
    user-select: none;
    animation-delay: 1s;
    transform-origin: 75% 75%;
    animation-name: waving_hands;
    animation-duration: .75s;
    will-change: transform;
}

@keyframes waving_hands {
    0% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(25deg);
    }
    65% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}

text {
    font-size: 36px;
    user-select: none;
    transform-origin: 250px 250px;
    transition: transform 1s; 

    transform: rotate(calc(var(--scroll) * 180deg));
}

svg {
    max-width: 80vmin;
}

.projects {
    /*background-image: linear-gradient(var(--primary-color--variant, transparent 35%);*/
    border-radius: 12px;
    background: white;
    height: calc(100dvh - 24px);
}

canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.background {
    &.background--1 {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 40rem;
        z-index: 0;
    }

    &.background--2 {
        position: fixed;
        top: -20%;
        left: -10%;
        width: 35rem;
        height: 35rem;
        z-index: -1;
    }

    .background__primary {
        background: radial-gradient(circle at center, var(--primary-color), var(--primary-color--variant));
    }

    .background__orb {
        width: 100%;
        height: 100%;
        border-radius: 50% 22% 40% 80%;  
        filter: blur(75px);
        backdrop-filter: blur(1px);
        
        opacity: .5;
        animation: mesh_orb 10s infinite;
    }
}

@keyframes mesh_orb {
    0% {
        transform: translate(0, 0);
        opacity: .5;
    }
    25% {
        transform: translate(70px, -100px)
    }
    50% {
        transform: translate(20px, 150px);
        opacity: .6;
    }
    75% {
        transform: translate(20px, 150px)
    }
    100% {
        transform: translate(0, 0);
        opacity: .5;
    }
}

.shortcuts {
    position: sticky;
    top: 100dvh;
    left: 0;
    padding: 12px;
    z-index: 1;
    font-size: 12px;

    & > div {
        display: flex;
        align-items: center;
        outline: none;
        user-select: none;
        margin: 8px 0;

        span {
            width: 24px;
            height: 24px;
            padding: 4px;
            background: #fff;
            border: 1px solid #D9DBDD;
            border-bottom: 1px solid var(--primary-color);
            box-shadow: 0px 4px 16px var(--shadow-color);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            transition: .2s cubic-bezier(1, 0, 1, 1)
        }

        p {
            margin: 0;
            text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF
        }
    }

    & > div:hover span {
        transition: .2s ease-in;
        border: 1px solid var(--primary-color);
        background: #fafafa
    }
}

#screen {
    height: 0;
    overflow: hidden;
    /* TODO: */
    /* this dimension is defined with data from the Arcade class */
    width: 680px;
    background: #000;
}

/* simplified */
[data-mode="simplified"], #screen {
    h1, h2, h3, h4, h5, h6, span, p, a, li, textarea, button, select label, b, input, text {
        font-family: var(--body-font)
    }
}

@media (max-width: 576px) {
    h1, h2, h3, h4, h5, h6, span, p, a, li, textarea, button, select label, b, input, text {
        font-family: var(--body-font)
    }
}

[data-mode="simplified"] {
    .background {
        &.background--1 {
            display: none;
        }
    
        &.background--2 {
            position: absolute;
            z-index: 1;
        }
    }

    section {
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
    }

    section.section__first {
        margin-top: 12px;
    }
    
    section .content {
        padding: 0 24px;
        padding-top: 48px;
        z-index: 1000;

        min-width: auto;
        max-width: 570px;
        width: auto;
    }
    
    #screen {
        & > div {
            z-index: 1000;
            padding: 48px 24px !important
        }
    }
}

/* sm */
@media (max-width: 576px) {
    .background {
        &.background--1 {
            display: none;
        }
    
        &.background--2 {
            position: absolute;
            z-index: 1;
        }
    }

    section {
        padding: 0 !important;
        margin: 0 !important;
        height: auto !important; 
        width: auto !important;
    }
    
    section .content {
        padding: 0 24px !important;
        padding-top: 48px !important;
        z-index: 1000;

        min-width: auto !important;
        max-width: 570px !important;
        width: auto !important;
    }
    
    #screen {
        & > div {
            z-index: 1000;
            padding: 48px 24px !important
        }
    }
}

[data-mode="simplified"] .hero {
    background: #000;
    display: flex;
    justify-content: center;
    border-radius: 0;

    .experience {
        display: none;
    }

    .social {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 36px;
        color: rgb(255, 255, 255);
    }

    span {
        color: rgb(255, 255, 255);
        font-size: inherit;
    }

    p, label, b, input {
        font-size: 24px;
        color: rgb(255, 255, 255);
    }
}

/* sm */
@media (max-width: 576px) {
    .hero {
        background: #000;
        display: flex;
        justify-content: center;
        border-radius: 0;
    
        .experience {
            display: none;
        }
    
        .social {
            display: none;
        }
    
        h1, h2, h3, h4, h5, h6 {
            font-size: 36px;
            color: rgb(255, 255, 255);
        }
    
        span {
            color: rgb(255, 255, 255);
            font-size: inherit;
        }
    
        p, label, b, input {
            font-size: 24px;
            color: rgb(255, 255, 255);
        }
    }
}

[data-mode="simplified"] #projects {
    display: none;
}

/* sm */
@media (max-width: 576px) {
    #projects {
        display: none;
    }
}

[data-mode="simplified"] #screen {
    height: auto;
    min-height: 100dvh;
    overflow: visible;
    width: 100%;
    display: flex;
    justify-content: center;

    & > div {
        max-width: 570px;
        /*padding: 12px !important;*/
    }
}

/* sm */
@media (max-width: 576px) {
    #screen {
        height: auto;
        min-height: 100dvh;
        overflow: visible;
        width: 100%;
        display: flex;
        justify-content: center;
    
        & > div {
            max-width: 570px;
            /*padding: 12px !important;*/
        }
    }
}

/* xl */
@media (max-width: 1280px) { 
    .hero {
        .content {
            h1 {
                font-size: 3rem;
            }
    
            p {
                font-size: 0.9rem;
            }
        }
    }
}

/* lg */
@media (max-width: 992px) {
    .hero {
        --size-margin: 96px;

        .content {
            padding: 0 60px;
        }

        .experience {
            .scroll {
                &::after {
                    box-shadow: -4px 4px 0 4px white;
                }
            
                &::before {
                    box-shadow: -4px 4px 0 4px white;
                }
            }
        }
    }
}

/* md */
@media (max-width: 768px) {
    .hero {
        .content {
            padding: 0 48px;

            h1 {
                font-size: 2rem;
            }
        }
    }
}