h1, h2, h3, h4, h5, h6, span, p, label, b, input {
    font-family: monospace
}

body {
    margin: 0;
    padding: 0;
    min-height: 100dvh
}

canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block
}

.shortcuts {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    font-size: 12px;

    & > div {
        display: flex;
        align-items: center;
        outline: none;
        user-select: none;
        margin: 8px 0;

        span {
            width: 24px;
            height: 24px;
            padding: 4px;
            background: #FFF;
            border: 1px solid #D9DBDD;
            border-bottom: 1px solid #0476ce;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            color: #1C1C1C;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            transition: .2s cubic-bezier(1, 0, 1, 1)
        }

        p {
            margin: 0;
            text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF
        }
    }

    & > div:hover span {
        transition: .2s ease-in;
        border: 1px solid #0476ce;
        background: #fafafa
    }
}

#screen {
    height: 0;
    overflow: hidden;
    width: 650px;
    background: #000
}

#screen.simplified {
    height: auto;
    min-height: 100vh;
    overflow: visible;
    width: 100%;
    display: flex;
    justify-content: center;

    & > div {
        max-width: 570px;
        /*padding: 12px !important;*/
    }
}